@model VendingMachine.Services.ViewModel.HotelInfoViewModel

@{
    ViewData["Title"] = "Walk In Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml"; //input layout
}
<html>
    <head>
    <meta http-equiv="cache-control" content="no-cache" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" />
    <!-- style css -->
     <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" / />
     <link rel="stylesheet" href="~/css/ocr.css" asp-append-version="true" / />

      <!-- Responsive-->
     <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />

     @*webcam things*@
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
     <meta http-equiv="X-UA-Compatible" content="IE=edge">

     @*include tesseract.js*@
     <script src="https://unpkg.com/tesseract.js@v2.0.0-alpha.13/dist/tesseract.min.js" ></script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://kit.fontawesome.com/4414288e8e.js"></script>



<style>
/*another image capture*/
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:666px;
  height:500px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}
/*another image capture*/

/*frame overlay*/
.wrap {
  position:relative;
}

.overlay {
  position:absolute;
  top:0;
  width:200%;
  z-index:25;
  text-align:center;
}

img {
  display:inline-block;
  width: 70%;
}
/*frame overlay*/
     </style>
     </head>

     <body>

             @* start the nice thing with icons*@
            <div class="our">
               <div class="container bookform" style="padding-bottom: 0px">
                      <div class="timeprogress">
                          <ul>
                              <li>
                                  <img src ="~/images/icons/select item.png"><br>
                                  <i class="fa fa-check" style="background: rgba(5, 151, 19, 0.949);"></i>
                                  <p>Select Room</p>
                              </li>
                            <li>
                                <img src ="~/images/icons/details.png"><br>
                                <i class="fa fa-refresh" style="background:rgba(5, 151, 19, 0.949);"></i>
                                <p>Fill Details</p>
                            </li>
                            <li>
                                <img src ="~/images/icons/payment.png"><br>
                                <i class="fa fa-times" style="background: #ccc;"></i>
                                <p>Make Payment</p>
                            </li>
                          </ul>
                      </div>
             </div>
          </div>
      @* end the nice thing with icons*@

      @*start take IC picture*@
    <div id="da_table">
                    <table width="1100" style="margin: 0 auto; font-size:20px;">
                        <tr>
                               <div class="contentarea" style="text-align:center;">
                                   <h4>Capture IC Photo</h4>
                                   <div class="camera">
                                       <div class="wrap">
                                       <video id="video">Video stream not available.</video>
                                       <div class="overlay">
                                           <img src="~/images/grey-border.png" alt="">
                                        </div>
                                        
                                   </div>
                                       <button id="startbutton">Take photo</button>
                                   </div>
                                   <canvas id="canvas"></canvas>
                                   
                                </div>

                    
                           <td>
                           <div class="output">
                               <img id="photo" alt="The screen capture will appear in this box."> 
                           </div>                    
                           </td>
                        </tr>
                    </table>

                    @*end take IC picture*@
               
                    @*start tesseract (controller) *@
   <div class="container">
    <fieldset>
        <legend>File Upload</legend>
        @using (Html.BeginForm("submit", "Reservations", FormMethod.Post , new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                
                @*<input id="icimage" type="hidden" class="form-control" name="file" src="data" style="display: none;" />*@
                <input id="pic" type="hidden" class="form-control" name="file" style="display: none;" />
                @*<span class="help-block">The File to be processed</span>*@
            </div>
            <input type="submit" class="send_btn" value="Upload Image" name="submit" style="font-size:20px; background-color: #000000; border: none;color: white; padding: 8px 10px; border-radius: 15px;" />
        }
    </fieldset>

    @if (ViewBag.Result)
    {
        <fieldset>
            <legend>Results Obtained:</legend>
            <div class="form-group">
                <label>Mean Confidence</label>
                <label>@ViewBag.mean</label>
            </div>
            <div class="form-group">
                <label>Result</label>
                <textarea class="form-control" readonly rows="10">@ViewBag.res</textarea>
            </div>
        </fieldset>
        }

        </div>
@*end tesseract (controller) *@

        <br />
        <br />

            <br />
            <br />

            @*next button*@
            <button class="send_btn" id="checkin-btn" style="font-size:20px; background-color: #000000; border: none;color: white; padding: 8px 10px; border-radius: 15px;" asp-action="GuestInfo">Next</button>
    </div>
    </body>
</html>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>  

@*webcam script*@
<script src="~/CamScripts/capture.js"></script>
